
body{
    color: rgb(153, 41, 41);
    background-image: url("http://www.cacadormotoclube.com.br/site/assets/background/fundo-sobre.jpg");
    background-size: 100%;
    font-family: 'Roboto', sans-serif;
    font-family: 'Roboto Condensed', sans-serif;
    text-align: center;
}
.cabecalho{
    background-color: rgb(233, 160, 160);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    border: thin;
    border-style:solid;
    padding: 0.5em;
}
h1{
    color:#ffffff;
    font-size: 3.8em;
}
table{
    border: tomato;
    text-align: center;
}
.pedrinho{
    color: rgb(153, 41, 41);
    cursor: pointer;
    transition: .2s;
    font-size: 1.4rem;
    padding: 200;
}
.pedrinho:hover{
    color:rgb(224, 128, 125);
    font-size: 1.6rem;
}
.perdinho:focus{
    color: rgb(240, 136, 136);
    background: red;
}
.pedro{
    color: rgb(153, 41, 41);
    cursor: pointer;
    transition: .2s;
    font-size: 1.4rem;
    padding: 200;
}
.pedro:hover{
    color:rgb(224, 128, 125);
    font-size: 1.6rem;
}
.pedro:focus{
    color: rgb(240, 136, 136);
    background: red;
}
.caio{
    color: rgb(153, 41, 41);
    cursor: pointer;
    transition: .2s;
    font-size: 1.4rem;
    padding: 200;
}
.caio:hover{
    color:rgb(224, 128, 125);
    font-size: 1.6rem;
}
.caio:focus{
    color: rgb(240, 136, 136);
    background: red;
}

footer{
    display: block;
    position: absolute;
    bottom: 0px;
    width: 100%;
}

.slogan{
    display: block;
    position: fixed;
    margin-left: 0px;
    bottom: 0px;
    width: 100%;
}
.cp{
    display: block;
    position: fixed;
    margin-left: 0px;
    bottom: 28px;
    width: 100%;
}

.insta{

    bottom: 0px;
    height: 2em;
    transition: .2s;
}
.insta:hover{
    bottom: 0px;
    height: 2.4em;
}
.git{
    bottom: 0px;
    height: 3.2em;
    transition: .2s;
}
.git:hover{
    bottom: 0px;
    height: 3.6em;
}
.inicio{
    color: rgb(153, 41, 41);
    display: block;
    font-size: 1.4rem;
    margin-bottom: 20px;
    transition: .2s;
}
.inicio:hover{
    color: rgb(240, 136, 136);
    display: block;
    font-size: 1.6rem;
    bottom: 0px;
}
.joji{
    height:300px;
    transition: .2s;
}
.joji:hover{
    height:315px;
}